@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/HelveticaNeue.ttc");
  /* font-weight: bold; */
}

* {
  font-family: HelveticaNeue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input,
textarea {
  outline: none;
}
button,
.btn {
  cursor: pointer;
  outline: none;
}
body {
  color: #000;
  font-family: HelveticaNeue;
}
.container {
  max-width: 1920px;
  max-height: 1080px;
  width: 100%;
  min-height: 100vh;
}
.container.final {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}
