@font-face {
  font-family: myfont;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue.ttc");
}
* {
  font-family: myfont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
button,
.btn {
  cursor: pointer;
  outline: none;
}
body {
  /* background-color: #2d313ac4; */
  /* background: #474747; */
  color: #000;
  font-family: myfont;
}
.container {
  max-width: 1920px;
  max-height: 1080px;
  width: 100%;
  min-height: 100vh;
}
