.rightside {
  width: calc(100% - 160px);
  margin: 68px auto 0 auto;
  display: none;
}
.rendering_options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab_divider_rightside {
  width: 100%;
  border: 1px solid #c8c8c8;
}
.for_personal {
  margin-top: 19px;
  margin-bottom: 24px;
}
.for_experience {
  margin-top: 32px;
  margin-bottom: 26px;
}
.rightside.active {
  display: flex;
}
.image_field {
  width: 246px;
  height: 246px;
}
.image_field img {
  width: 246px;
  height: 246px;
  border-radius: 50%;
}
.image_field div {
  background-image: url(blob:http://localhost:3000/c2ac30a7-7268-4d60-8532-76936b7a6d97);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 246px;
  height: 246px;
  border-radius: 50%;
}
.rightside .text_field {
  width: 415px;
}
.rightside .text_field section {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.rightside .text_field section p:first-child {
  margin-right: 20px;
}
.text_field_span {
  display: flex;
  align-items: center;
}
.text_field_span.first {
  margin-bottom: 10px;
}
.text_field_span.second {
  margin-bottom: 34px;
}
.text_field_span p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-left: 11.81px;
  color: #1a1a1a;
}
.about_me_field {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  color: #000000;
}
img.rightside_logo {
  position: absolute;
  left: 78px;
  bottom: 44px;
}
