.rightExperience {
  margin-bottom: 32px;
}
.rightExperience .global_rendered_subtitle_italic {
  margin: 7px 0 16px 0;
}
.rightExperience section {
  display: flex;
}
.rightExperience section p:first-child {
  margin-right: 7px;
}
