.form_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  background: #f9f9f9;
}
.form_page_left_container {
  width: calc(100% - 300px);
  height: 100%;
  margin: 0 auto 210px auto;
}
.form_page_left {
  width: 57.2%;
  background: #f9f9f9;
  min-height: 1080px;
  position: relative;
}
.form_page_right {
  width: 42.8%;
  height: 1080px;
  background-color: #fff;
  position: relative;
  overflow: auto;
}
